.test-result {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.test-result .test-result-stat {
  text-align: center;
  font-size: 12px;
}

.test-result .test-result-stat b {
  font-size: 10px;
}