.runner-page {
  width: 80%;
}

.runner-page-content {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
}

.runner-page-content-left {
  width: 40%;
  margin-right: 50px;
}

.runner-page-content-left > div:not(:last-child) {
  margin-bottom: 20px;
}

.runner-page-content-right {
}

.runner-page-content-right > div:not(:last-child) {
}